/* -------------------------------------------- */
/*             Presentacion Inicial             */
/* -------------------------------------------- */

#presentacion {
    min-height: 100vh;
    background-color: #1e1e2b;
    display: flex;
    align-items: center;
    text-align: center;
}

.scrollText {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    transform: rotate(90deg);
    bottom: 75px;
    left: 30px;
}

.bordeScroll {
    margin: 10px auto;
    width: 40px;
    height: 80px;
    border: 3px solid rgba(122, 122, 124, 0.918);
    border-radius: 20px;
    position: absolute;
    bottom: 40px;
    left: 20px;
}

.circuloScroll {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 7px;
    bottom: 30px;
    background: linear-gradient(170deg, rgba(122, 122, 124, 0.918), rgb(123, 124, 124));
    border-radius: 50%;
    animation: animatedScroll 1s linear infinite;
}

.scrollTextRight {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    transform: rotate(90deg);
    bottom: 75px;
    right: 34px;
}

.bordeScrollRight {
    margin: 10px auto;
    width: 40px;
    height: 80px;
    border: 3px solid rgba(122, 122, 124, 0.918);
    border-radius: 20px;
    position: absolute;
    bottom: 40px;
    right: 20px;
}

.circuloScrollRight {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 7px;
    bottom: 30px;
    background: linear-gradient(170deg, rgba(122, 122, 124, 0.918), rgb(123, 124, 124));
    border-radius: 50%;
    animation: animatedScroll 1s linear infinite;
}

@media screen and (max-width: 425px) and (min-width: 0px) {
    .scrollText {
        display: none;
    }

    .bordeScroll {
        display: none;
    }
    
    .circuloScroll {
        display: none;
    }

    .scrollTextRight {
        display: none;
    }

    .bordeScrollRight {
        display: none;
    }
    
    .circuloScrollRight {
        display: none;
    }
}

@keyframes animatedScroll {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(20px);
    }
}

.presentacionPrincipal{
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    color: white;
}

a{
    text-decoration: none;
}

.btnPrincipal {
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #424259;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 16px;
    cursor: pointer;
    margin: 1em;
}

.btnPrincipal .spanBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #424259;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

.btnPrincipal .spanBtn:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
}

.btnPrincipal .spanBtn:not(hover) {
    transition: all 1s;
}

/* -------------------------------------------- */
/*                  Portafolio                  */
/* -------------------------------------------- */

#portafolio{
    background-color: #ffffff;
}

.portafolioText{
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 15%;
    margin-bottom: 4%;
    text-align: center;
}

.textCardPortafolio{
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin: 20px 0 10px 0;
}

.imgConfigGeneral{
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 100%;
}

.card {
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 10px;
    border: none;
    margin-bottom: 10%;
    box-shadow: 0 5px 10px 5px rgba(35, 35, 35, .15);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px 4px rgba(35, 35, 35, .1);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
    transition: filter 0.3s ease;
}

.carousel-control-prev-icon.dark-icons,
.carousel-control-next-icon.dark-icons {
    filter: invert(0);
}

.adaptive-close {
    width: 1rem;
    height: 1rem;
    z-index: 10;
    mix-blend-mode: difference;
    filter: invert(1);
    opacity: 1;
    transition: opacity 0.2s ease;
}

#modalStacksContainer .badge {
    font-size: 0.85rem;
    background-color: #1e1e2b; /* oscuro elegante */
    color: #fff;
    transition: transform 0.2s ease, background-color 0.3s;
}

#modalStacksContainer .badge:hover {
    transform: scale(1.05);
    background-color: #3b3b55;
}

#seccion2{
    min-height: 100vh;
    background-color: #1e1e2b;
}